<a href="https://colab.research.google.com/github/shivakumar0001/AD/blob/main/21_01_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample data for sales transactions and customer information
sales_data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, 103, 104, 101],
    'Amount': [250, 300, 400, 500, 600],
    'Date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
} # Display Amount and Date from sales data
customer_data = {
    'CustomerID': [101, 102, 103, 104],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [30, 35, 40, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}# Display Customer name and city from customer data
# Display customer ids  with amount>400
# Convert data into DataFrame
sales_df = pd.DataFrame(sales_data)
customers_df = pd.DataFrame(customer_data)
# Show basic structure of sales_df
print("Sales DataFrame:")
print(sales_df.head())

# 1. Exploring the dataset (using shape and describe)
print("\nShape of sales data:", sales_df.shape)  # Get number of rows and columns
print("\nSales data statistics:")
print(sales_df.describe())  # Summary statistics
print("Sales dataframe",sales_df)
print("customers_df",customers_df)

#   Filter a dataframe of sales dataframe where sales amount >400
#display(data.loc[(data.Brand == 'Maruti') & (data.Year == 2012)])

Sales DataFrame:
   TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05

Shape of sales data: (5, 4)

Sales data statistics:
       TransactionID  CustomerID      Amount
count       5.000000     5.00000    5.000000
mean        3.000000   102.20000  410.000000
std         1.581139     1.30384  143.178211
min         1.000000   101.00000  250.000000
25%         2.000000   101.00000  300.000000
50%         3.000000   102.00000  400.000000
75%         4.000000   103.00000  500.000000
max         5.000000   104.00000  600.000000
Sales dataframe    TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05
customers_df    CustomerID CustomerName  Age         City
0         101        Alice   30     New York
1         102          Bob   35  Los Angeles
2         103      Charlie   40      Chicago
3         104        David   25      Houston

In [ ]:
# 2. Merging data (Sales with Customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

In [ ]:
# 2. Merging data (Sales with Customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

# 3. Accessing data using `loc` and `iloc`
print("\nAccess data using `loc` (row 1):")
print(merged_df.loc[1])

print("\nAccess data using `iloc` (row 2):")
print(merged_df.iloc[2])

# 4. Handling Missing Values
# Let's introduce some missing data for demonstration
merged_df.loc[2, 'Age'] = None  # Introduce missing value in Age column
print(merged_df)
# Check for missing values
print("\nCheck missing values (isnull):")
print(merged_df.isnull().sum())

# Fill missing values with the mean (for Age column)
merged_df['Age'].fillna(merged_df['Age'].mean(), inplace=True)
print("\nData after filling missing values:")
print(merged_df)

# 5. Aggregation: Calculate the mean sales per customer
mean_sales = merged_df.groupby('CustomerName')['Amount'].mean()
print("\nMean sales per customer:")
print(mean_sales)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

Access data using `loc` (row 1):
TransactionID              2
CustomerID               102
Amount                   300
Date              2025-01-02
CustomerName             Bob
Age                       35
City             Los Angeles
Name: 1, dtype: object

Access data using `iloc` (row 2):
TransactionID             3
CustomerID              103
Amount                  400
Date             2025-01-03
CustomerName        Charlie
Age                      40
City                Chicago
Name: 2, dtype: object
   TransactionID  CustomerID  Amount        Date CustomerName   Age  \
0              1         101     250  2025-01-01        Alice  30.0
1              2         102     300  2025-01-02          Bob  35.0
2              3         103     400  2025-01-03      Charlie   NaN
3              4         104     500  2025-01-04        David  25.0
4              5         101     600  2025-01-05        Alice  30.0

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

Check missing values (isnull):
TransactionID    0
CustomerID       0
Amount           0
Date             0
CustomerName     0
Age              1
City             0
dtype: int64

Data after filling missing values:
   TransactionID  CustomerID  Amount        Date CustomerName   Age  \
0              1         101     250  2025-01-01        Alice  30.0
1              2         102     300  2025-01-02          Bob  35.0
2              3         103     400  2025-01-03      Charlie  30.0
3              4         104     500  2025-01-04        David  25.0
4              5         101     600  2025-01-05        Alice  30.0

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

Mean sales per customer:
CustomerName
Alice      425.0
Bob        300.0
Charlie    400.0
David      500.0
Name: Amount, dtype: float64

<ipython-input-3-489e870a32fb>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Age'].fillna(merged_df['Age'].mean(), inplace=True)

In [ ]:
# Create a Dataframe for Patient Information  and include column names as below
#1)Patient Name
#2) Age
#3) Date of oppointment
#4) Patient id
#Create a dataframe name as drag_quantity that includes column names as  drag name,quantity,patient_id
# Filter dataframe  to get Patient name and age <6

#Merge the dataframes with inner join of Patient information and drag quantity dataframe

In [ ]:
import pandas as pd

patient_info = pd.DataFrame({
    'Patient Name': ['Alice', 'Bob', 'Charlie', 'Daisy', 'Ella'],
    'Age': [4, 28, 3, 45, 2],
    'Date of Appointment': ['2025-01-20', '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24'],
    'Patient ID': [101, 102, 103, 104, 105]
})


drag_quantity = pd.DataFrame({
    'Drag Name': ['Paracetamol', 'Amoxicillin', 'Ibuprofen', 'Cetrizine', 'Vitamin C'],
    'Quantity': [10, 5, 12, 8, 6],
    'Patient ID': [101, 103, 104, 102, 105]
})


filtered_patients = patient_info[patient_info['Age'] < 6][['Patient Name', 'Age']]


merged_data = pd.merge(patient_info, drag_quantity, on='Patient ID', how='inner')


print("Patient Information DataFrame:")
print(patient_info)
print("\nDrag Quantity DataFrame:")
print(drag_quantity)
print("\nFiltered Patients (Age < 6):")
print(filtered_patients)
print("\nMerged DataFrame:")
print(merged_data)

Patient Information DataFrame:
  Patient Name  Age Date of Appointment  Patient ID
0        Alice    4          2025-01-20         101
1          Bob   28          2025-01-21         102
2      Charlie    3          2025-01-22         103
3        Daisy   45          2025-01-23         104
4         Ella    2          2025-01-24         105

Drag Quantity DataFrame:
     Drag Name  Quantity  Patient ID
0  Paracetamol        10         101
1  Amoxicillin         5         103
2    Ibuprofen        12         104
3    Cetrizine         8         102
4    Vitamin C         6         105

Filtered Patients (Age < 6):
  Patient Name  Age
0        Alice    4
2      Charlie    3
4         Ella    2

Merged DataFrame:
  Patient Name  Age Date of Appointment  Patient ID    Drag Name  Quantity
0        Alice    4          2025-01-20         101  Paracetamol        10
1          Bob   28          2025-01-21         102    Cetrizine         8
2      Charlie    3          2025-01-22         103  Amoxicillin         5
3        Daisy   45          2025-01-23         104    Ibuprofen        12
4         Ella    2          2025-01-24         105    Vitamin C         6

In [ ]:
import pandas as pd

# Sample data for sales transactions and customer information
sales_data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, 103, 104, 101],
    'Amount': [250, 300, 400, 500, 600],
    'Date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
} # Display Amount and Date from sales data
customer_data = {
    'CustomerID': [101, 102, 103, 104],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [30, 35, 40, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}# Display Customer name and city from customer data
# Display customer ids  with amount>400
# Convert data into DataFrame
sales_df = pd.DataFrame(sales_data)
customers_df = pd.DataFrame(customer_data)
# Show basic structure of sales_df
print("Sales DataFrame:")
print(sales_df.head())

# 1. Exploring the dataset (using shape and describe)
print("\nShape of sales data:", sales_df.shape)  # Get number of rows and columns
print("\nSales data statistics:")
print(sales_df.describe())  # Summary statistics
print("Sales dataframe",sales_df)
print("customers_df",customers_df)

#   Filter a dataframe of sales dataframe where sales amount >400
#display(data.loc[(data.Brand == 'Maruti') & (data.Year == 2012)])

Sales DataFrame:
   TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05

Shape of sales data: (5, 4)

Sales data statistics:
       TransactionID  CustomerID      Amount
count       5.000000     5.00000    5.000000
mean        3.000000   102.20000  410.000000
std         1.581139     1.30384  143.178211
min         1.000000   101.00000  250.000000
25%         2.000000   101.00000  300.000000
50%         3.000000   102.00000  400.000000
75%         4.000000   103.00000  500.000000
max         5.000000   104.00000  600.000000
Sales dataframe    TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05
customers_df    CustomerID CustomerName  Age         City
0         101        Alice   30     New York
1         102          Bob   35  Los Angeles
2         103      Charlie   40      Chicago
3         104        David   25      Houston

In [ ]:
#merging data (Sales with customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

In [ ]:
#merging data (Sales with customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='outer')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='outer')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='right')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='left')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York